@font-face {
  font-family: Rotterburg Stylish FREE;
  src: url(./fonts/Rotterburg\ Stylish\ Regular.ttf);
}
@font-face {
  font-family: HelveticaNeueCyr;
  src: url(./fonts/HelveticaNeueCyr\ Bold.ttf);
}
@font-face {
  font-family: Steinbeck;
  src: url(./fonts/Steinbeck\ Reg\ Regular.otf);
}
@font-face {
  font-family: Visuelt Pro;
  src: url(./fonts/VisueltPro-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cream);
  border-radius: 10px;
}

:root {
  --black: #191919;
  --white: #fff;
  --gray: #ffffff1a;
  --light-gray: rgba(255, 255, 255, 0.60);
  --white-gray: #404040;
  --red: #f00;
  --green: lawngreen;
  --cream: #C9AC8C;
  --light-cream: rgba(201, 172, 140, 0.93);
  --text-gray: rgba(255, 255, 255, 0.30);
  --brown: #3C2710;
  --light-blue: #549FF9;
  --black-blue: #152540;
  --author-p: rgba(255, 255, 255, 0.80);
  --author-card-gradient: linear-gradient(209deg, #191919 -1.68%, #212121 135.36%);
  --book-iqtibos-card-gradient: linear-gradient(264deg, #161616 0%, #1E1E1E 98.06%);
}

body {
  color: var(--black);
  background-color: var(--black);
}

body {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--black);
  background-image: url(imgs/ornament.png);
  background-repeat: no-repeat;
  background-position: right 260px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-fixed {
  z-index: 100;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--black);
  padding: 0 120px;
  border-bottom: solid var(--light-gray) 2px;
}
.nav-fixed .nav-logo {
  font-size: 2rem;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.nav-fixed .nav-logo a {
  color: var(--cream);
  text-decoration: none;
  font-family: Rotterburg Stylish FREE;
}
.nav-fixed .ul-desktop {
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-fixed .ul-desktop li {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: he;
}
.nav-fixed .ul-desktop li:hover a {
  color: var(--white);
  transform: scale(1.2);
}
.nav-fixed .ul-desktop li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: var(--white);
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.nav-fixed .ul-desktop li:hover::before {
  bottom: 0px;
}
.nav-fixed .ul-desktop li a {
  color: var(--light-gray);
  font-family: HelveticaNeueCyr;
  font-size: 16px;
  font-weight: 300;
  line-height: 144.4%;
  transition: 0.5s;
}
.nav-fixed .profile {
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav-fixed .profile .sign {
  border-radius: 15px;
  background: #C9AC8C;
  padding: 10px 30px;
  color: var(--brown);
  font-family: Steinbeck;
  font-weight: 400;
}
.nav-fixed .profile .log {
  color: var(--light-gray);
  font-family: Steinbeck;
  font-weight: 400;
}
.nav-fixed .gamburger-menu {
  display: none;
  position: relative;
  width: 30px;
  height: 4px;
  background: var(--white);
  border-radius: 5px;
  cursor: pointer;
}
.nav-fixed .gamburger-menu::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: -7px;
  background: var(--white);
  border-radius: 5px;
}
.nav-fixed .gamburger-menu::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 7px;
  background: var(--white);
  border-radius: 5px;
}

.header-fixer {
  display: none;
  position: fixed;
  z-index: 1000;
  right: 0;
  opacity: 0;
  top: 0;
  width: 70%;
  height: 100vh;
  background: var(--black);
  flex-direction: column;
  box-shadow: 0 0 20px var(--black);
  transform: translateX(535px);
  animation: fixer 0.7s ease-out forwards;
}
@keyframes fixer {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.header-fixer .top {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid var(--gray) 2px;
}
.header-fixer .top .profile {
  background-size: cover;
  cursor: pointer;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  left: 70px;
}
.header-fixer .top .profile button {
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 2px 3px var(--red);
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  color: var(--red);
  background: var(--black);
  cursor: pointer;
}
.header-fixer .top .profile button a {
  color: var(--red);
}
.header-fixer .top .profile .log {
  box-shadow: 0 0 2px 3px var(--green);
  color: var(--green);
}
.header-fixer .top .profile .log a {
  color: var(--green);
}
.header-fixer .top .clear-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-fixer .top .clear-btn::before {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--white);
  position: absolute;
  transform: rotate(-45deg);
  border-radius: 10px;
}
.header-fixer .top .clear-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--white);
  border-radius: 10px;
  transform: rotate(45deg);
}
.header-fixer .center {
  display: flex;
  align-items: center;
}
.header-fixer .center .ul-tablet {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px 0;
}
.header-fixer .center .ul-tablet li {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.header-fixer .center .ul-tablet li::before {
  content: "";
  width: 100%;
  height: 5px;
  bottom: -5px;
  background: var(--white);
  position: absolute;
  border-radius: 10px;
  transition: 0.5s;
}
.header-fixer .center .ul-tablet li:hover::before {
  bottom: 5px;
}
.header-fixer .center .ul-tablet li:hover {
  transform: scale(1.2);
}
.header-fixer .center .ul-tablet li:hover a {
  color: var(--white);
}
.header-fixer .center .ul-tablet li a {
  font-size: 2rem;
  text-align: center;
  color: var(--text-gray);
}

.nowork {
  animation: nowork 0.7s ease-in forwards;
}
@keyframes nowork {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(535px);
    opacity: 0;
  }
}

.head-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  display: none;
  background: var(--gray);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  animation: bg 0.7s linear forwards;
  z-index: 190;
}
@keyframes bg {
  100% {
    opacity: 1;
  }
}

.head-nowork {
  animation: work3 0.7s linear forwards;
}
@keyframes work3 {
  0% {
    opacity: 1;
  }
  99% {
    z-index: 190;
  }
  100% {
    opacity: 0;
    z-index: -190;
  }
}

header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  padding-top: 130px;
  flex-direction: column;
  align-items: center;
}
header .slider {
  width: 80%;
  height: 340px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 21px;
  background: linear-gradient(89deg, #263A3D 70.78%, rgba(25, 25, 25, 0) 105.05%);
}
header .slider .img {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .slider .img .slide-img {
  display: flex;
}
header .slider .img .slide-img img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.5s;
}
header .slider .slider-text {
  width: 340px;
  height: 100%;
  position: absolute;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .slider .slider-text h1 {
  height: 70%;
  width: 100%;
  font-size: 3rem;
  font-weight: 100;
  font-family: Rotterburg Stylish FREE;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--cream);
}
header .slider .slider-text .slide-btn {
  display: flex;
  width: 100%;
  height: 26%;
  justify-content: space-between;
}
header .slider .slider-text .slide-btn div {
  width: 75px;
  height: 4px;
  background: var(--text-gray);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header .slider .slider-text .slide-btn .slide-1 {
  background: var(--white);
  transform: scale(1.1);
}
header .search-bar {
  width: 1114px;
  background: var(--black);
  transform: translateY(-50px);
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid var(--white-gray) 1px;
  padding: 40px 86px 35px 86px;
}
header .search-bar h1 {
  color: var(--cream);
  margin-bottom: 20px;
  font-family: Rotterburg Stylish FREE;
}
header .search-bar .s-bottom .search-inp {
  width: 670px;
  background: var(--white-gray);
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 19px;
  color: var(--text-gray);
  transition: 0.5s;
  font-family: Steinbeck;
}
header .search-bar .s-bottom .search-inp::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  height: 20px;
  width: 20px;
  background-image: url(./imgs/close-button-svgrepo-com.svg);
  background-size: 20px 20px;
  fill: var(--cream);
}
header .search-bar .s-bottom .search-inp:focus {
  color: var(--white);
}
header .search-bar .s-bottom .search-inp::-moz-placeholder {
  -moz-transition: 0.5s;
  transition: 0.5s;
}
header .search-bar .s-bottom .search-inp::placeholder {
  transition: 0.5s;
}
header .search-bar .s-bottom .search-inp:focus::-moz-placeholder {
  color: var(--white);
}
header .search-bar .s-bottom .search-inp:focus::placeholder {
  color: var(--white);
}
header .search-bar .s-bottom button {
  padding: 10px 30px 10px 50px;
  background: var(--cream);
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 19px;
  background-image: url(imgs/Frame.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 12px center;
  font-family: Steinbeck;
  cursor: pointer;
  color: var(--brown);
}

.main-books {
  margin-top: 30px;
  padding: 0 120px;
}
.main-books .top h1 {
  font-family: Rotterburg Stylish FREE;
  color: var(--cream);
  text-align: center;
}
.main-books .bottom {
  margin-top: 50px;
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}
.main-books .bottom .card {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-books .bottom .card .card-top {
  width: 164.152px;
  height: 246.228px;
}
.main-books .bottom .card .card-top img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.main-books .bottom .card .card-bottom h2 {
  color: var(--cream);
  font-family: Rotterburg Stylish FREE;
  font-size: 20px;
  font-weight: 400;
  margin-top: 17px;
}
.main-books .bottom .card .card-bottom span {
  font-family: Visuelt Pro;
  font-size: 12px;
  color: var(--light-gray);
  font-weight: 300;
  line-height: 144.4%;
  margin-top: 1.3px;
}
.main-books .bottom .card .card-bottom div {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  margin-top: 3.8px;
}
.main-books .bottom .card .card-bottom div h3 {
  color: var(--light-gray);
  font-family: Visuelt Pro;
  font-size: 12px;
  font-weight: 300;
  line-height: 144.4%;
}

.contact-us {
  width: 100%;
  height: 560px;
  display: flex;
  margin: 50px 0;
}
.contact-us .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .left .img {
  width: 450px;
  height: 450px;
  overflow: hidden;
  border-radius: 50%;
  background-image: url(imgs/operator.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-us .right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .right form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
}
.contact-us .right form input {
  border-radius: 10px;
  padding: 10px 25px;
  outline: none;
  border: solid gray 1px;
  background: transparent;
  margin: 10px 0;
  color: gray;
  font-family: Steinbeck;
  transition: 0.5s;
}
.contact-us .right form input:focus {
  color: var(--white);
  transform: scale(1.05);
}
.contact-us .right form input:focus::-moz-placeholder {
  color: var(--white);
}
.contact-us .right form input:focus::placeholder {
  color: var(--white);
}
.contact-us .right form input::-moz-placeholder {
  font-family: Steinbeck;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .right form input::placeholder {
  font-family: Steinbeck;
  transition: 0.5s;
}
.contact-us .right form input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.contact-us .right form textarea {
  background: transparent;
  border-radius: 10px;
  outline: none;
  padding: 10px 25px;
  margin: 10px 0;
  color: gray;
  resize: none;
  transition: 0.5s;
  font-family: Steinbeck;
}
.contact-us .right form textarea:focus {
  color: var(--white);
  transform: scale(1.05);
}
.contact-us .right form textarea:focus::-moz-placeholder {
  color: var(--white);
}
.contact-us .right form textarea:focus::placeholder {
  color: var(--white);
}
.contact-us .right form textarea::-moz-placeholder {
  font-family: Steinbeck;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.contact-us .right form textarea::placeholder {
  font-family: Steinbeck;
  transition: 0.5s;
}
.contact-us .right form button {
  padding: 10px 25px;
  outline: none;
  border: none;
  border-radius: 40px;
  margin: 10px 0;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 15px;
  background: #C9AC8C;
  color: var(--brown);
  font-family: Steinbeck;
  font-size: 16px;
  font-weight: 400;
}
.contact-us .right form button:hover {
  box-shadow: 0 0 10px var(--hover-blue-black);
  color: var(--white);
  transform: scale(1.1);
  background: var(--hover-blue-black);
}

footer {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  padding: 0 120px;
  border-top: solid var(--light-gray) 2px;
  justify-content: space-between;
  overflow: hidden;
}
footer .foot-logo {
  font-size: 2.2rem;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
footer .foot-logo a {
  color: var(--cream);
  text-decoration: none;
  font-family: Rotterburg Stylish FREE;
}
footer p {
  color: var(--white);
}
footer .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}
footer .right .logo-con {
  display: flex;
  align-items: center;
}
footer .right .logo-con img {
  padding: 0 5px;
}

.signup {
  width: 100%;
  height: 100vh;
  background: var(--white);
  z-index: 10;
  display: flex;
  position: relative;
}
.signup .left {
  width: 45%;
  height: 100%;
  background: var(--light-cream);
  background-image: url(imgs/sighup-img.png);
  background-repeat: no-repeat;
  background-position: 100px center;
}
.signup .center {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 711px;
}
.signup .center .text {
  width: 330px;
}
.signup .center .text h1 {
  font-size: 36px;
  font-family: Arial Black;
  font-weight: 900;
}
.signup .center .text p {
  font-family: sans-serif;
  font-size: 13px;
  display: inline-block;
}
.signup .center .text a {
  color: var(--light-blue);
}
.signup .center form {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signup .center form input {
  width: 100%;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  outline: none;
  border: solid gray 1px;
  margin: 10px 0;
  transition: 0.5s;
  color: gray;
}
.signup .center form input:focus {
  border: solid #000 1px;
  transform: scale(1.1);
  color: #000;
}
.signup .center form input:focus::-moz-placeholder {
  color: #000;
}
.signup .center form input:focus::placeholder {
  color: #000;
}
.signup .center form input[type=number]::-webkit-inner-spin-button {
  display: none;
}
.signup .center form button {
  width: 100%;
  font-size: 20px;
  outline: none;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
.signup .center form button a {
  width: 100%;
  border-radius: 100px;
  height: 100%;
  padding: 15px 25px;
  background: var(--black-blue);
}

.signin {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  top: 0;
}
.signin .left {
  width: 47.5%;
  height: 100%;
  background: var(--light-cream);
  background-image: url(imgs/signin-img.svg);
  background-repeat: no-repeat;
  background-position: 100px center;
}
.signin .right {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--white);
}
.signin .right .text {
  width: 330px;
}
.signin .right .text h1 {
  font-size: 36px;
  font-family: Arial Black;
  font-weight: 900;
}
.signin .right .text p {
  font-family: sans-serif;
  font-size: 13px;
  display: inline-block;
}
.signin .right .text a {
  color: var(--light-blue);
}
.signin .right form {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signin .right form input {
  width: 100%;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 10px;
  outline: none;
  border: solid gray 1px;
  margin: 10px 0;
  transition: 0.5s;
  color: gray;
}
.signin .right form input:focus {
  border: solid #000 1px;
  transform: scale(1.1);
  color: #000;
}
.signin .right form input:focus::-moz-placeholder {
  color: #000;
}
.signin .right form input:focus::placeholder {
  color: #000;
}
.signin .right form button {
  width: 100%;
  font-size: 20px;
  padding: 15px 25px;
  border-radius: 100px;
  background: var(--black-blue);
  color: var(--white);
  outline: none;
  border: solid #000 1px;
  margin: 10px 0;
  cursor: pointer;
}

@keyframes signup {
  100% {
    width: 0%;
  }
}
@keyframes signup1 {
  100% {
    width: 103%;
  }
}/*# sourceMappingURL=style.css.map */