@import url(../style.css);

@media screen and (max-width: 1025px) and (min-width: 769px) {
  .nav-fixed {
    padding: 0 40px;
  }
  header {
    .slider {
      width: 90%;
    }
    .search-bar {
      width: 800px;
      .s-bottom {
        .search-inp {
          width: 500px;
        }
      }
    }
  }

  .books {
    padding: 0 90px;
  }

  .authors {
    .bottom {
      padding-inline: 50px;
    }
  }

  footer {
    padding: 0 60px;
  }

  .signup {
    .left,
    .right {
      width: 50%;
      background-position: 0;
    }
    .right {
      .text {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 0.7rem;
        }
      }
      form {
        input {
          padding: 10px 20px;

          &:focus {
            transform: scale(1.02);
          }
        }
        button {
          a {
            padding: 10px 20px;
          }
        }
      }
    }
  }

  .signin {
    .left,
    .right {
      width: 50%;
      background-position: 0;
    }
    .right {
      .text {
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 0.7rem;
        }
      }
      form {
        input {
          padding: 10px 20px;

          &:focus {
            transform: scale(1.02);
          }
        }
        button {
          a {
            padding: 10px 20px;
          }
        }
      }
    }
  }

  footer {
    padding: 0 40px;
  }
}

@media screen and (max-width: 769px) {
  .nav-fixed {
    padding: 10px 40px;

    .ul-desktop {
      display: none;
    }

    .profile {
      display: none;
    }

    .gamburger-menu {
      display: flex;
    }
  }

  header {
    padding-top: 100px;
    padding-inline: 40px;
    .slider {
      width: 100%;
      height: 250px;
      background-size: 103%;
      justify-content: center;
      .slides {
        a {
          padding-top: 20px;
          padding-left: 40px;
          h1 {
            font-size: 45px;
          }
        }
      }
      .slider-control {
        left: 40px;
        bottom: 65px;
        div {
          height: 7px;
        }
      }
    }
    .search-bar {
      width: 600px !important;
      height: 100px;
      transform: translateY(-40px);
      h1 {
        font-size: 1.6rem;
        margin: 0;
      }

      .s-bottom {
        margin-top: 10px;
        .search-inp {
          width: 400px;
          padding: 5px 20px;
          font-size: 15px;
          border-radius: 10px;
        }

        button {
          padding: 4px 20px 4px 30px;
          background-size: 18px;
          border-radius: 10px;
          background-position: 10px 9px;
        }
      }
    }
  }

  .main-books{
    padding: 0 40px;
  }

  .compony-info{
    padding: 0 40px;
    .container{
      gap: 40px;
     padding-inline: 40px;
    }
  }

  .yozuvchilar{
    padding: 0 40px;
  }

  .books{
    padding: 0 40px;
  }

  .authors{
    .category{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ul{
      width: 90%;
      flex-wrap: wrap;
      gap: 25px !important;
    }
    .bottom{
      padding-inline: 40px;
    }
  }

  .signin, .signup{
    .left, .right {
      width: 50%;
      background-position: -40px ;
    }
  }

  footer{
    padding: 10px 40px;
    .right{
      gap: 10px;
      a{
        p{
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 426px) {
  nav {
    padding: 10px 20px !important;

    .nav-logo {
      a {
        font-size: 1.5rem;
      }
    }
  }

  .compony-info {
    .container {
      flex-direction: column;
    }
  }

  header {
    padding-top: 100px;
    .slider {
      width: 400px;
      height: 200px;
      border-radius: 21px;

      .slides {
        a {
          width: 100%;
          height: 100%;
          padding: 0;
          padding: 20px;

          h1 {
            width: 200px;
            font-size: 2rem;
          }
        }
      }

      .slider-control {
        left: 20px;
        bottom: 50px;
      }
    }

    .search-bar {
      width: 350px !important;

      h1 {
        font-size: 1.5rem;
      }

      .s-bottom {
        gap: 10px;
        margin-top: 10px;

        .search-inp {
          width: 200px;
        }
      }
    }
  }

  .books {
    margin-top: 100px;
  }

  .main-books,
  .books {
    padding-inline: 20px;

    .top {
      h1 {
        font-size: 1.5rem;
      }
    }

    .bottom {
      gap: 35px;
      // justify-content: space-between;

      .card {
        width: 155px;
      }
    }
    .button {
      display: flex;
    }
  }
  .compony-info {
    padding-inline: 20px;
    .container {
      padding: 20px;
      justify-content: center;
      background: none;
    }
  }
  .yozuvchilar {
    padding-inline: 20px;
    .container {
      .top {
        h1 {
          font-size: 1.5rem;
        }
      }
      .bottom {
        gap: 20px;
        .card {
          width: 155px;
        }
      }
      .button {
        display: flex;
      }
    }
  }

  .authors{
    .bottom{
      padding: 0;
    }
  }

  .contact-us {
    margin-top: 50px;
    padding: 20px;
    .top {
      h1 {
        font-size: 1.5rem;
      }
    }
    .bottom {
      margin-top: 20px;
    }
  }
  footer {
    padding-inline: 20px;
    .foot-logo {
      font-size: 1.5rem;
    }
    p {
      display: none;
    }
    .right {
      gap: 10px;
    }
  }
}

@media screen and (max-width: 426px) {
  .books {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      select {
        display: block;
      }
      .category {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .authors {
    padding-inline: 20px;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 1.5rem;
      }
      .category {
        display: none;
      }
      select {
        display: block;
      }
    }
    .bottom {
      gap: 20px;
      .card {
        width: 155px;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .signin,
  .signup {
    display: block;
    .left {
      display: none;
    }
    .right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 426px) {
  .book {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    .left {
      padding: 0;
      .img {
        img {
          width: 275px;
        }
      }
    }
    .right {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .full-info {
        .top {
          .hr {
            width: 208px;
          }
        }
      }
      .formats {
        .top {
          text-align: center;
        }
        .bottom {
          flex-direction: column;
          .two {
            margin-top: 20px;
          }
        }
      }
    }
  }

  .kitob-haqida {
    padding-left: 20px;
  }
}
