@import url(../style.css);
@media screen and (max-width: 1025px) and (min-width: 769px) {
  .nav-fixed {
    padding: 0 40px;
  }
  header .slider {
    width: 90%;
  }
  header .search-bar {
    width: 800px;
  }
  header .search-bar .s-bottom .search-inp {
    width: 500px;
  }
  .books {
    padding: 0 90px;
  }
  .authors .bottom {
    padding-inline: 50px;
  }
  footer {
    padding: 0 60px;
  }
  .signup .left,
  .signup .right {
    width: 50%;
    background-position: 0;
  }
  .signup .right .text h1 {
    font-size: 2rem;
  }
  .signup .right .text p {
    font-size: 0.7rem;
  }
  .signup .right form input {
    padding: 10px 20px;
  }
  .signup .right form input:focus {
    transform: scale(1.02);
  }
  .signup .right form button a {
    padding: 10px 20px;
  }
  .signin .left,
  .signin .right {
    width: 50%;
    background-position: 0;
  }
  .signin .right .text h1 {
    font-size: 2rem;
  }
  .signin .right .text p {
    font-size: 0.7rem;
  }
  .signin .right form input {
    padding: 10px 20px;
  }
  .signin .right form input:focus {
    transform: scale(1.02);
  }
  .signin .right form button a {
    padding: 10px 20px;
  }
  footer {
    padding: 0 40px;
  }
}
@media screen and (max-width: 769px) {
  .nav-fixed {
    padding: 10px 40px;
  }
  .nav-fixed .ul-desktop {
    display: none;
  }
  .nav-fixed .profile {
    display: none;
  }
  .nav-fixed .gamburger-menu {
    display: flex;
  }
  header {
    padding-top: 100px;
    padding-inline: 40px;
  }
  header .slider {
    width: 100%;
    height: 250px;
    background-size: 103%;
    justify-content: center;
  }
  header .slider .slides a {
    padding-top: 20px;
    padding-left: 40px;
  }
  header .slider .slides a h1 {
    font-size: 45px;
  }
  header .slider .slider-control {
    left: 40px;
    bottom: 65px;
  }
  header .slider .slider-control div {
    height: 7px;
  }
  header .search-bar {
    width: 600px !important;
    height: 100px;
    transform: translateY(-40px);
  }
  header .search-bar h1 {
    font-size: 1.6rem;
    margin: 0;
  }
  header .search-bar .s-bottom {
    margin-top: 10px;
  }
  header .search-bar .s-bottom .search-inp {
    width: 400px;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 10px;
  }
  header .search-bar .s-bottom button {
    padding: 4px 20px 4px 30px;
    background-size: 18px;
    border-radius: 10px;
    background-position: 10px 9px;
  }
  .main-books {
    padding: 0 40px;
  }
  .compony-info {
    padding: 0 40px;
  }
  .compony-info .container {
    gap: 40px;
    padding-inline: 40px;
  }
  .yozuvchilar {
    padding: 0 40px;
  }
  .books {
    padding: 0 40px;
  }
  .authors .category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .authors ul {
    width: 90%;
    flex-wrap: wrap;
    gap: 25px !important;
  }
  .authors .bottom {
    padding-inline: 40px;
  }
  .signin .left, .signin .right, .signup .left, .signup .right {
    width: 50%;
    background-position: -40px;
  }
  footer {
    padding: 10px 40px;
  }
  footer .right {
    gap: 10px;
  }
  footer .right a p {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  nav {
    padding: 10px 20px !important;
  }
  nav .nav-logo a {
    font-size: 1.5rem;
  }
  .compony-info .container {
    flex-direction: column;
  }
  header {
    padding-top: 100px;
  }
  header .slider {
    width: 400px;
    height: 200px;
    border-radius: 21px;
  }
  header .slider .slides a {
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 20px;
  }
  header .slider .slides a h1 {
    width: 200px;
    font-size: 2rem;
  }
  header .slider .slider-control {
    left: 20px;
    bottom: 50px;
  }
  header .search-bar {
    width: 350px !important;
  }
  header .search-bar h1 {
    font-size: 1.5rem;
  }
  header .search-bar .s-bottom {
    gap: 10px;
    margin-top: 10px;
  }
  header .search-bar .s-bottom .search-inp {
    width: 200px;
  }
  .books {
    margin-top: 100px;
  }
  .main-books,
  .books {
    padding-inline: 20px;
  }
  .main-books .top h1,
  .books .top h1 {
    font-size: 1.5rem;
  }
  .main-books .bottom,
  .books .bottom {
    gap: 35px;
  }
  .main-books .bottom .card,
  .books .bottom .card {
    width: 155px;
  }
  .main-books .button,
  .books .button {
    display: flex;
  }
  .compony-info {
    padding-inline: 20px;
  }
  .compony-info .container {
    padding: 20px;
    justify-content: center;
    background: none;
  }
  .yozuvchilar {
    padding-inline: 20px;
  }
  .yozuvchilar .container .top h1 {
    font-size: 1.5rem;
  }
  .yozuvchilar .container .bottom {
    gap: 20px;
  }
  .yozuvchilar .container .bottom .card {
    width: 155px;
  }
  .yozuvchilar .container .button {
    display: flex;
  }
  .authors .bottom {
    padding: 0;
  }
  .contact-us {
    margin-top: 50px;
    padding: 20px;
  }
  .contact-us .top h1 {
    font-size: 1.5rem;
  }
  .contact-us .bottom {
    margin-top: 20px;
  }
  footer {
    padding-inline: 20px;
  }
  footer .foot-logo {
    font-size: 1.5rem;
  }
  footer p {
    display: none;
  }
  footer .right {
    gap: 10px;
  }
}
@media screen and (max-width: 426px) {
  .books .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .books .top select {
    display: block;
  }
  .books .top .category {
    display: none;
  }
}
@media screen and (max-width: 426px) {
  .authors {
    padding-inline: 20px;
  }
  .authors .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .authors .top h1 {
    font-size: 1.5rem;
  }
  .authors .top .category {
    display: none;
  }
  .authors .top select {
    display: block;
  }
  .authors .bottom {
    gap: 20px;
  }
  .authors .bottom .card {
    width: 155px;
  }
}
@media screen and (max-width: 426px) {
  .signin,
  .signup {
    display: block;
  }
  .signin .left,
  .signup .left {
    display: none;
  }
  .signin .right,
  .signup .right {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .book {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
  }
  .book .left {
    padding: 0;
  }
  .book .left .img img {
    width: 275px;
  }
  .book .right {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .book .right .full-info .top .hr {
    width: 208px;
  }
  .book .right .formats .top {
    text-align: center;
  }
  .book .right .formats .bottom {
    flex-direction: column;
  }
  .book .right .formats .bottom .two {
    margin-top: 20px;
  }
  .kitob-haqida {
    padding-left: 20px;
  }
}/*# sourceMappingURL=resposive.css.map */