@import url(../style.css);

body {
  padding-left: 80px;
  padding-right: 80px;
}

// mualliflar styles
.authors {
  margin-top: 30px;

  .top {
    h1 {
      color: var(--cream);
      font-family: Rotterburg Stylish FREE;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: center;
    }

    .category {
      margin-top: 30px;
      width: 100%;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        li {
          display: inline-block;

          button {
            outline: none;
            border: none;
            background-color: transparent;
            color: var(--light-gray);
            font-family: Steinbeck;
            font-size: 20px;
            font-weight: 400;
            cursor: pointer;
            transition: .5s;

            &:hover {
              color: var(--cream);
            }
          }
        }
      }
    }
  }

  .bottom {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    .card {
      width: 173.33px;
      border-radius: 15px;
      background: var(--author-card-gradient);
      box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);

      .card-top {
        width: 173.983px;
        height: 132.186px;

        img {
          width: 100%;
          height: 100%;
        }
      }
      
      .card-bottom {
        padding: 12px 12px 24px 12px;
        text-align: center;
        background-image: url('../imgs/author naqsh1.svg'), url('../imgs/muallif naqsh2.svg');
        background-repeat: no-repeat;
        background-position: top right, bottom left;
        background-position-y: -50px, 60px;
        
        h2 {
          color: var(--cream);
          font-family: Steinbeck;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        p {
          color: var(--light-gray);
          font-family: Steinbeck;
          font-size: 12px;
          font-weight: 400;
          margin-top: 4.15px;
        }

        .card-info {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 32px;
          margin-top: 9.79px;
          
          div {
            display: flex;
            align-items: center;
            p {
              margin: 0;
              color: var(--white);
              font-family: Steinbeck;
              font-size: 16px;
              font-weight: 400;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
}